//@import "bootstrap";
//@import "bootstrap-responsive";

.game_title_div{
  color: orange;
  float: left;
}

.game_user_div{
  color: orange;
  float:right;

  font-size: 0.7em;
  font-style: italic;
}

.game_categories_div{
  color: orange;
  float: left;
  font-size: 0.9em;
  font-style: italic;
  margin-left: 5em;
}

.average_star_rating{
  float: right;
  clear: both;
}