//@import "bootstrap";
//@import "bootstrap-responsive";

.game_title{
  color: orange;
  float: left;
}

.game_user{
  color: orange;
  float:right;

  font-size: 0.7em;
  font-style: italic;
}

.game_categories{
  color: orange;
  float: left;
  font-size: 0.9em;
  font-style: italic;
  margin-left: 5em;
}